@model eManager.Domain.Department
@using GridMvc.Html

@{
    ViewBag.Title = "Detail";
    
}

<h2>@Model.Name</h2>

@Html.ActionLink("Add an employee", "Create", "Employee", new { DepartmentId = @Model.Id }, null)

<hr />
<div style="width:500px">
    @Html.Grid(Model.Employees).Columns(columns =>
            {
                columns.Add(c => c.Name)
                    .Titled("Name")
                    .Sanitized(false)
                    .Encoded(false)
                    .Filterable(true)
                    .RenderValueAs(c =>
                        @<div>@c.Name
                            <a href='@Url.Action("Detail", "Employee", new { id = c.Id })' class="btn btn-xs">
                                <span class="glyphicon glyphicon-search" />
                            </a>
                        </div>);

                columns.Add(c => c.HireDate)
                    .Titled("Date Hired")
                    .Format("{0:yyyy-MM-dd}")
                    .Filterable(true);

                columns.Add()
                    .Sanitized(false)
                    .Encoded(false)
                    .RenderValueAs(c => 
                        @<a href='@Url.Action("Edit", "Employee", new { id = c.Id })' class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-pencil" /> Edit
                        </a>);
                
            }).WithPaging(3).Sortable(true)
</div>


<p style="font-size:12px">
    @Html.ActionLink("Back to All Departments", "Departments", "Data")
</p>