@model eManager.Domain.Department
@using GridMvc.Html

@{
    ViewBag.Title = "Detail";
    
}

<h2>@Model.Name</h2>

@Html.ActionLink("Add an employee", "Create", "Employee", new { DepartmentId = @Model.Id }, null)

<hr />
<div class="modal fade" id="employee-modal">
    <div class="modal-dialog">
        <div id="employee-modal-container"></div>
    </div>
</div>

<div style="width:500px">
    @Html.Grid(Model.Employees).Columns(columns =>
            {
                columns.Add(c => c.Name)
                    .Titled("Name")
                    .Sanitized(false)
                    .Encoded(false)
                    .Filterable(true)
                    .RenderValueAs(c =>
                        @<div>@c.Name
                            <a href="@Url.Action("Detail", "Employee", new { id = c.Id})" class="btn btn-xs">
                                <span class="glyphicon glyphicon-search" />
                            </a>
                        </div>);

                columns.Add(c => c.HireDate)
                    .Titled("Date Hired")
                    .Format("{0:yyyy-MM-dd}")
                    .Filterable(true);

                columns.Add()
                    .Sanitized(false)
                    .Encoded(false)
                    .RenderValueAs(c => 
                        @<a class="btn btn-primary btn-xs edit-employee" data-id="@c.Id">
                                <span class="glyphicon glyphicon-pencil" /> Edit
                        </a>);
                
            }).WithPaging(3).Sortable(true)
</div>

<script>
    $(document).ready(function () {
        $('.edit-employee').click(function () {
            var url = "/Employee/Edit";
            var id = $(this).attr('data-id');
            $.get(url + '/' + id, function (data) {
                $('#employee-modal-container').html(data);
                $('#employee-modal').modal('show');
            });
        });

        
    });
   
</script>


<p style="font-size:12px">
    @Html.ActionLink("Back to All Departments", "Departments", "Data")
</p>