@model eManager.Web.Models.EditEmployeeViewModel


<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@Model.Name</h4>
    </div>
   @using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @id = "employee-edit-form"}))
   { 
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div id="edit-fail"></div>
            <fieldset>
                <legend>@Model</legend>
                @Html.HiddenFor(model => model.DepartmentId, new { data_id = Model.DepartmentId})
                @Html.LabelFor(model => model.Name, new { @Class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, null, new { @Class = "help-inline" })
                </div>
                    @Html.LabelFor(model => model.HireDate, new { @Class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.HireDate, new { @class = "datepicker help-inline" })
                    @Html.ValidationMessageFor(model => model.HireDate)
                </div>
            </fieldset>
        </div>
   
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="SaveBtn">Save Changes</button>
     </div>
   }

    <script>
        $(document).ready(function () {
            $.validator.unobtrusive.parse('#employee-edit-form');

            var DeptId = $("#DepartmentId").attr('data-id');

            $("#employee-edit-form").submit(function (e) {
                if ($("#employee-edit-form").valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.Success) {
                                $("#employee-modal").modal('hide');
                                Bootstrap_alert.showAlert("<strong>Success!</strong> The employee was edited.", "alert-success", "#form-update", 5000);
                                var grid = $("#DepartmentEmployees").data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            } 
                        }
                    });
                } else {
                    Bootstrap_alert.showAlert("<strong>Failed!</strong> Correct the errors before resubmitting.", "alert-danger", "#edit-fail", 5000);
                }
                return false;
            });
        });

        $("#employee-edit-form").focusout(function () {     
            $('#employee-edit-form').valid();
        });
    </script>

</div>