@model eManager.Web.Models.CreateEmployeeViewModel
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/modernizr")

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateEmployeeViewModel</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.DepartmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireDate, new { @Value = "mm/dd/yyyy"})
            @Html.ValidationMessageFor(model => model.HireDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "detail", "department", new { id = Model.DepartmentId }, null)
</div>

<script type="text/javascript">
    $(function () {
        if (!Modernizr.inputtypes.date) {
            $(function () {
                $('input[type=date]').datepicker();
            })
        }
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
